; Modular 5-Axis CAM Framework
; Profile: Klipper 5-Axis
M83 ; Relative extrusion mode
G90 ; Absolute positioning

; Start G-Code
G90 ; Absolute XYZ
M83 ; Relative E
G28 ; Home all axes
G92 E0 ; Reset Extruder
; -------------------
{% set last_feature = "" %}
{% for s in states %}
{% if s.feature_type != last_feature and not s.is_travel_move %}
; TYPE: {{ s.feature_type }}
{% set last_feature = s.feature_type %}
{% endif %}
{% if s.is_travel_move %}
G1 E-{{ "%.3f"|format(profile.retract_distance) }} F2400 ; Retract
G0 X{{ "%.3f"|format(s.x) }} Y{{ "%.3f"|format(s.y) }} Z{{ "%.3f"|format(s.z + profile.z_hop) }}{% if profile.include_rotary_axes %} B{{ "%.3f"|format(s.b) }} C{{ "%.3f"|format(s.c) }}{% endif %} F{{ "%.0f"|format(s.feedrate) }} ; Z-Hop Travel
G1 Z{{ "%.3f"|format(s.z) }} F{{ "%.0f"|format(s.feedrate) }} ; Un-Hop
G1 E{{ "%.3f"|format(profile.retract_distance) }} F2400 ; Prime
{% else %}
G1 X{{ "%.3f"|format(s.x) }} Y{{ "%.3f"|format(s.y) }} Z{{ "%.3f"|format(s.z) }}{% if profile.include_rotary_axes %} B{{ "%.3f"|format(s.b) }} C{{ "%.3f"|format(s.c) }}{% endif %} E{{ "%.5f"|format(s.e) }} F{{ "%.0f"|format(s.feedrate) }}
{% endif %}
{% endfor %}
; -------------------
; End G-Code
G0 Z150{% if profile.include_rotary_axes %} B0 C0{% endif %} F3000
M104 S0 ; Turn off extruder
M140 S0 ; Turn off bed
M84 ; Disable motors
